@{
    ViewBag.Title = "About";
}

		<div id="Left">

		</div>
		<div id="Right">

		</div>

		<div id="Centre">
			<p><span class="startText">Core Design was founded in 2008 and has since expanded to a team of 
			18 consisting of writers,&nbsp; graphic designers, web designers, programmers and 
			database specialists, an online marketing and advertising team, and a 
			security expert.</span></p>
			<p>Core Design founder, W.D. Esiner,&nbsp; has 20 years experience in 
			print, radio, television, and web marketing. Our team can bring your 
			ideas to reality, from a simple website to a complex application with 
			social features.</p>
			<p>Our team:</p>
			<p><em>To do....</em><img style="width:50%" alt="test" src="/Content/images/core.jpg"/></p>
			<p>&nbsp;</p>
		</div>
