@{
    ViewBag.Title = "Clients";
}

		<div id="Left">
			<p>Left (Sub Navigation)</p>
		</div>
		<div id="Right">
			<p>Right (Changing Area)</p>
		</div>

		<div id="Centre">
						<h2>
				Core Design Clients
			</h2>
			<h4>Institute of Technology Tallaght</h4>

			<ul class="gallery">
				<li>
					<img alt="IT Tallaght Website" height="130" src="/Content/images/it-tallaght.jpg" width="150" class="client" />
					<h4>Institute of Technology Tallaght.</h4>
					<p>We designed, developed, and maintain the Institute of Technology Tallaght website</p>
					<p><a href="http://www.it-tallaght.ie">Visit the site</a></p>
				</li>
				<li>
					<img alt="IT Tallaght Website" height="130" src="/Content/images/it-tallaght.jpg" width="150" class="client" />
					<h4>Institute of Technology Tallaght.</h4>
					<p>We designed, developed, and maintain the Institute of Technology Tallaght website</p>
					<p><a href="http://www.it-tallaght.ie">Visit the site</a></p>
				</li>
				<li>
					<img alt="IT Tallaght Website" height="130" src="/Content/images/it-tallaght.jpg" width="150" class="client" />
					<h4>Institute of Technology Tallaght.</h4>
					<p>We designed, developed, and maintain the Institute of Technology Tallaght website</p>
					<p><a href="http://www.it-tallaght.ie">Visit the site</a></p>
				</li>
				<li>
					<img alt="IT Tallaght Website" height="130" src="/Content/images/it-tallaght.jpg" width="150" class="client" />
					<h4>Institute of Technology Tallaght.</h4>
					<p>We designed, developed, and maintain the Institute of Technology Tallaght website</p>
					<p><a href="http://www.it-tallaght.ie">Visit the site</a></p>
				</li>


			</ul>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>Please <a href="/Home/Contact">contact us</a> to discuss your 
			requirments</p>
		</div>
