@{
    ViewBag.Title = "Index";
}

		<div id="Left">
			Left
        </div>
		<div id="Right">
			<p>Right</p>
		</div>

		<div id="Centre">
				<h3>
					Core Design is a professional web design and online application development company based in Dublin, Ireland</h3>
				<h5>
					We specialise in the following areas:
				</h5>
				<ul>
					<li>Web Design</li>
					<li>Content Management</li>
					<li>Web application development</li>
					<li>Ecommerce and payment</li>
					<li>Security</li>
					<li>Search Engine Optimisation</li>
				</ul>
				
				<p class="startText">When choosing a web agency, it is critically important to have a site 
			built that sets your business apart from your competitors - as well as 
			marketing your company to potential customers. To ensure that it looks 
			good and works well, and you get as many visitors as possible actually 
			seeing it, our team&#39;s web capability, along with sound marketing 
			knowledge, will help your business to shine online. Get a web design 
			quote from us today.</p>
			<p>See our clients for examples what of our designers have built for 
			existing clients. Yours could be the next.</p>
			<p>If you&#39;d like to discuss your specific needs, give us a call. We&#39;ll 
			be more than happy to help with anything you&#39;re unsure about.<br />
			</p>

			<p><span class="startText">Core Design was founded in 2008 and has since expanded to a team of 
			18 consisting of writers,&nbsp; graphic designers, web designers, programmers and 
			database specialists, an online marketing and advertising team, and a 
			security expert.</span></p>
			<p>Core Design founder, W.D. Esiner,&nbsp; has 20 years experience in 
			print, radio, television, and web marketing. Our team can bring your 
			ideas to reality, from a simple website to a complex application with 
			social features.</p>
			<p>Our team:</p>
			<p><em>To do....</em></p>
			<p>&nbsp;</p>
		</div>
