@{
    ViewBag.Title = "Services";
}

		<div id="Left">

		</div>
		<div id="Right">

		</div>

		<div id="Centre">
				<h3>
					Website Design Services
				</h3>
				
				<table>
					<tr>
						<th style="width: 120px"></th>
						<th>Starter</th>
						<th style="width: 104px">Intermediate</th>
						<th>Advanced</th>
					</tr>
					<tr>
						<th style="width: 120px">Static Content</th>
						<td>Yes</td>
						<td style="width: 104px">Yes</td>
						<td>Yes</td>
					</tr>
					<tr>
						<th style="width: 120px; height: 38px">Dynamic Site</th>
						<td style="height: 38px">No</td>
						<td style="width: 104px; height: 38px">Yes</td>
						<td style="height: 38px">Yes</td>
					</tr>
					<tr>
						<th style="width: 120px; height: 52px">Content Management System</th>
						<td style="height: 52px">No</td>
						<td style="height: 52px; width: 104px">No</td>
						<td style="height: 52px">Yes</td>
					</tr>
					<tr>
						<th style="width: 120px; height: 36px">Hosting</th>
						<td style="height: 36px">Shared</td>
						<td style="width: 104px; height: 36px">Basic with Domain Name</td>
						<td style="height: 36px">Advanced with Domain Name</td>
					</tr>
					<tr>
						<th style="width: 120px">Email</th>
						<td>No</td>
						<td style="width: 104px">2 addresses</td>
						<td>50 Addresses</td>
					</tr>
					<tr>
						<th style="width: 120px">Maintenance</th>
						<td>No</td>
						<td style="width: 104px">1 Year</td>
						<td>2 Years</td>
					</tr>
					<tr>
						<th style="width: 120px">Search Engine Optimisation</th>
						<td>No</td>
						<td style="width: 104px">No</td>
						<td>Yes</td>
					</tr>
					<tr>
						<th style="width: 120px">Price From</th>
						<td>&euro;200</td>
						<td style="width: 104px">&euro;500</td>
						<td>&euro;750</td>
					</tr>
				</table>
	
			<p>
				&nbsp;</p>
				<p>
					Please <a href="/Home/Contact">contact us</a> to discuss your requirments
				</p>
		</div>